<h1>Тестовиий Додаток</h1>

<p>
  Це є головна сторінка для
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
