<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "Про нас", about_path %></li>
      <li><%= link_to "Контакты", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Новини</a></li>
      <li><a href="http://www.railstutorial.org/">Рельсы</a></li>
    </ul>
  </nav>
</footer>
